.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#c75{
    background: conic-gradient(#4caf50 0% 75%, #ddd 75% 100%);
  }
  #c20{
    background: conic-gradient(#4caf50 0% 20%, #ddd 20% 100%);
  }
  
  .inner-circle { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .percentage {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }

  .circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* This spaces the circles evenly */
    align-items: center;
    width: 100vw; /* Ensures the circles are centered */
    /* max-width: 300px; */
}

.text{
  text-align: center;
}
  