* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    /* height: 150px; */
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.top-left-button{
    position: absolute;
    background-color: transparent;
    height: 50px;
    top: 10px;  /* Adjust for desired spacing from top */
    left: 10px; /* Adjust for desired spacing from left */
}

#back_image{
    height: 50px;
}


.section {
    padding: 40px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #666;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.job, .education {
    margin-bottom: 30px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#img_description{
    height: auto;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img_UI{
    height: auto;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#controller{
    height: auto;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#signal_flow{
    height: auto;
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_text{
    text-align: center;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.video_container {
    position: relative;
    width: 60%;
    /* height: 60%; */
    overflow: hidden;
    padding-top: 33.774%; /* 16:9 Aspect Ratio */
    /* padding-top: 56.25%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

footer p {
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }
}
