* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.section {
    padding: 40px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #666;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.job, .education {
    margin-bottom: 30px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* precentage circle */

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#c90{
    background: conic-gradient(#4caf50 0% 90%, #ddd 90% 100%);
    font-size: 12px;
}
#c85{
    background: conic-gradient(#4caf50 0% 85%, #ddd 85% 100%);
    font-size: 12px;
}
#c80{
    background: conic-gradient(#4caf50 0% 80%, #ddd 80% 100%);
    font-size: 12px;
}
#c70{
    background: conic-gradient(#4caf50 0% 70%, #ddd 70% 100%);
    font-size: 12px;
}
#c60{
    background: conic-gradient(#4caf50 0% 60%, #ddd 60% 100%);
    font-size: 12px;
}
  
.inner-circle { 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.percentage {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* This spaces the circles evenly */
    align-items: center;
    width: 100%; /* Ensures the circles are centered */
}

.text{
  text-align: center;
}
  

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }
}
